* {
	box-sizing: border-box;
}

#container {
	width: 600px;
	height: 600px;
	background-color: #ccc;
	display: grid;
	grid-gap: 2px;
	grid-template-columns: repeat(16, 35.5px);
	grid-template-columns: repeat(16, 35.5px);
}

.divs {
	background-color: grey;
}

#btn {
	margin-bottom: 30px;
}
